$black: #000000;
$white: #ffffff;

$grey01: #fdfdfd;
$grey02: #f7f8f9;
$grey03: #e9ebee;
$grey04: #c5c8ce;
$grey05: #646f7c;
$grey06: #374553;
$grey08: #161d24;

$brand01: #09194d;
$brand02: #f05a4e;

$positive: #60b86f;
$negative01: #f74271;
$negative02: #ff0000;
