@import "../../../styles/reset.scss";

.calendar_day_of_week_label_wrapper {
  @include grid(1, 7, 14.28%, 30px);
  width: 100%;
  div {
    @include flex(column, center, center, 0);
    width: 100%;
    height: 100%;
  }

  .calendar_day_of_week_label_li {
    @include flex(column, center, center, 0);
    width: 100%;
  }
}
