@import "../../../styles/reset.scss";

.day_item {
  @include flex(column, center, center, 0);
  width: calc(100vw / 7);
  height: calc(100vw / 7);
  border-radius: 8px;
  cursor: pointer;
  transition: 200ms;

  &:hover {
    background-color: $grey03;
  }
  &.saturday {
    color: $positive;
  }
  &.sunday {
    color: $negative01;
  }
  &.disabled {
    color: $grey04;
  }
  &.selected {
    color: $white;
    background-color: $brand01;
  }
  .label {
    color: $grey04;
  }
}
